body {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.game-title {
    text-align: center;
    font-size: 50px;
    color: rgba(216, 29, 29);
    text-shadow: 2px 5px rgba(0, 0, 0, 0.56);
    margin: 20px 0;
}

@media only screen and (max-width: 375px) {
    .game-title {
        font-size: 35px;
        margin: 10px 0;
    }
}

.container {
    display: flex;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 456px;
    height: 456px;
    margin: 0 auto;

    user-select: none;

    background-color: lightcyan;
    border: 1px solid black;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
@media only screen and (max-width: 375px) {
        .content {
            width: 306px;
            height: 306px;
        }
    }
}
@media only screen and (max-width: 375px) {
    .content {
        width: 306px;
        height: 306px;
    }
}

.item {
    display: inline-block;
    margin: 0;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-size: 75px;
    font-weight: 500;
    line-height: 150px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    transition: background 100ms ease-in-out;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
@media only screen and (max-width: 375px) {
        .item {
            width: 100px;
            height: 100px;
            font-size: 50px;
            font-weight: 400;
            line-height: 100px;
        }
    }
}
@media only screen and (max-width: 375px) {
    .item {
        width: 100px;
        height: 100px;
        font-size: 50px;
        font-weight: 400;
        line-height: 100px;
    }
}

.item:hover {
    background-color: lightgray;
}

.gamewinner-text,
.draw-text {
    font-size: 75px;
    font-weight: 500;
    color: rgba(216, 29, 29, 0.918);
    text-shadow: 2px 5px rgba(0, 0, 0, 0.56);
    text-align: center;
    user-select: none;
}

@media only screen and (max-width: 375px) {

    .gamewinner-text,
    .draw-text {
        font-size: 50px;
        font-weight: 400;
    }
}

.basicLightbox__placeholder {
    width: 700px;
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 375px) {
    .basicLightbox__placeholder {
        width: 320px;
    }
}

.accent {
    font-size: 90px;
    font-weight: 700;
}

@media only screen and (max-width: 375px) {
    .accent {
        font-size: 60px;
        font-weight: 700;
    }
}